<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyNajMlkXaa1aKFGJDSdveVRculvhdQDM</string>
	<key>GCM_SENDER_ID</key>
	<string>435650745210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niceworkloyalty.app</string>
	<key>PROJECT_ID</key>
	<string>nice-work-loyalty</string>
	<key>STORAGE_BUCKET</key>
	<string>nice-work-loyalty.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435650745210:ios:36abd0c465025250c03cc3</string>
</dict>
</plist>